<div class="container">
  <input type="text" [(ngModel)]="userName">
</div>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <div class="container" style="background-image: url(../assets/1.JPG);">
  <body>
    <mat-card class="md-6">
      <div class="row">
        <div class="col md-6">
          <mat-card-title>Login Form</mat-card-title>
          <form (ngSubmit)="login()" [formGroup]="loginForm">

            <div>
              <label for="email">Email</label>
              <input type="text" formControlName="_id" [value] = "currentUser" class="form-control" />
            </div>
                    
            <div>
              <label for="email">Password</label>
              <input
                type="password"
                formControlName="password"
                class="form-control"
              />
            </div>

            <div class="pt-2">
              <button class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </mat-card>
  </body>
</div>
</html>

<!-- <app-root [uN]="userName"></app-root> -->

{{currentUser}}
