<!-- <div class="headline pt-5">
  <h4 >Enjoy the current listings</h4>
</div>
<div class="row mt-5">
        <div class="col-md-4 mb-3" *ngFor="let listings of listings">
          <div class="card text-center">
            <div class="card-body">
              <h5 class="firstName" >Listing </h5>
              <p class="card-text">{{ listings.category }}</p>
              <p class="card-text">{{ listings.heading }}</p>
              <p class="card-text">{{ listings.description }}</p>
            </div>
          </div>
        </div>
      </div>
      

      -->

      <div class="Heading pt-5 ">
        <h4>Please Enjoy the Current listings</h4>
      </div>
      <div class="row mt-5">
        <div class="col-md-2 mb-3" *ngFor="let specialEvent of specialEvent">
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">Member :</h5>
              {{ specialEvent.firstName }}
              <p class="card-text">{{ specialEvent.lastName }}</p>
            </div>
          </div>
        </div>
      </div>
      
      
      
      
      
      
      
        