<div class="container" style="background-image: url(../assets/1.JPG);">
    <div class="row">
        <div class="col-4">
            <!-- Hello -->
        </div>
        <div class="col-4">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="container">
                            <div class="row mt-5 ">

                                <div class="card text-center ">
                                    <div class="card-body">
                                        <div class="check">
                                            <h4>{{listing.heading}}</h4>
                                        </div>
                                        <p></p>
                                        <p class="card-text">{{ listing.category }}</p>
                                        <p class="card-text">{{ listing.description }}</p>
                                        <p class="card-text">{{ listing.email }}</p>
                                        <p class="card-text">{{ listing.phone }}</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container">
                            <div class="row mt-5 ">

                                <div class="card text-center ">
                                    <div class="card-body">
                                        <div class="check">
                                            <h4>{{listing1.heading}}</h4>
                                        </div>
                                        <p></p>
                                        <p class="card-text">{{ listing1.category }}</p>
                                        <p class="card-text">{{ listing1.description }}</p>
                                        <p class="card-text">{{ listing1.email }}</p>
                                        <p class="card-text">{{ listing1.phone }}</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container">
                            <div class="row mt-5 ">

                                <div class="card text-center ">
                                    <div class="card-body">
                                        <div class="check">
                                            <h4>{{listing2.heading}}</h4>
                                        </div>
                                        <p></p>
                                        <p class="card-text">{{ listing2.category }}</p>
                                        <p class="card-text">{{ listing2.description }}</p>
                                        <p class="card-text">{{ listing2.email }}</p>
                                        <p class="card-text">{{ listing2.phone }}</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <!-- Hello -->
        </div>
    </div>
</div>