

<div class="container" >
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Home</a>
    <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li>
          <div>
            <li class="nav-item active">
             
              <a [routerLink]="['/register']" routerLinkActive="active" *ngIf="!authService.loggedIn()"
                >Registers</a
              >
            </li>
          </div>
        </li>

        <div>
          <ul>
            <a [routerLink]="['/login']" routerLinkActive="active" *ngIf="!authService.loggedIn()">Login</a>
          </ul>
        </div>

        <div>
          <ul>
            <a [routerLink]="['/listings']" routerLinkActive="active" *ngIf="!authService.loggedIn()">Listings</a>
          </ul>
        </div>

        <div>
          <ul>
            <a [routerLink]="['/special']" routerLinkActive="active" *ngIf="authService.loggedIn()">Listing(special)</a>
          </ul>
        </div>
        <div>
          <ul>
            <a [routerLink]="['/events']" routerLinkActive="active" *ngIf="authService.loggedIn()"
              >Listing (regular)</a>
          </ul>
        </div>
        <!-- <div>
          <ul>
            <a [routerLink]="['/account']" routerLinkActive="active">Account</a>
          </ul>
        </div> -->
        <div>
          <ul>
            <a [routerLink]="['/viewaccount']" routerLinkActive="active" *ngIf="authService.loggedIn()">view Account</a>
          </ul>
        </div>
        <div>
          <ul>
            <button *ngIf="authService.loggedIn()" (click)= "authService.logoutUser()">Logout</button>
          </ul>
        </div>
        <div>
          <ul>
            <!-- {{xx.firstName}} -->
          </ul>
        </div>
      </ul>
    </div>
  </nav>

  

  <router-outlet></router-outlet>

</div>
