<div class="container" id="example1">
  <img src="../assets/ktmlist.JPG" alt="">
  <h1>KATHMANDU LIST (KTM LIST)</h1>
</div>
<h1>
  
</h1>
<!-- <div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light text-lg-center">
    <a class="navbar-brand text-primary" href="#" [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</a>
    <a class="navbar-brand text-primary   " href="#" [routerLink]="['/culture']" routerLinkActive="router-link-active">Culture</a>
    <a class="navbar-brand text-primary  " href="#" [routerLink]="['/food']" routerLinkActive="router-link-active">Food</a>
    <a class="navbar-brand text-primary  " href="#" [routerLink]="['/listings']" routerLinkActive="router-link-active">Listings</a>
    <a class="navbar-brand text-primary  " href="#" [routerLink]="['/rentals']" routerLinkActive="router-link-active">Rentals</a>
    <a class="navbar-brand" href="#" [routerLink]="['/braclets']" routerLinkActive="router-link-active">Braclet</a>
    <a class="navbar-brand" href="#" [routerLink]="['/ear-rings']" routerLinkActive="router-link-active">Ear-Rings</a>
    <a class="navbar-brand" href="#" [routerLink]="['/rings']" routerLinkActive="router-link-active">Rings</a>
    <a class="navbar-brand" href="#" [routerLink]="['/haars']" routerLinkActive="router-link-active">Haar</a>
    <a class="navbar-brand" href="#" [routerLink]="['/extras']" routerLinkActive="router-link-active">Extras</a>
    
  </nav>
</div> -->

<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light text-lg-center">
    <a class="navbar-brand text-primary" href="#" [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</a>
    <a class="navbar-brand text-primary   " href="#" [routerLink]="['/listings']" routerLinkActive="router-link-active">Listings</a>
    <a class="navbar-brand text-primary  " href="#" [routerLink]="['/login']" routerLinkActive="router-link-active">Login</a>
    <a class="navbar-brand text-primary  " href="#" [routerLink]="['/register']" routerLinkActive="router-link-active">Register</a>
    <a class="navbar-brand text-primary  " href="#" [routerLink]="['/account']" routerLinkActive="router-link-active"  *ngIf="authService.loggedIn()">Account</a>
    <button *ngIf="authService.loggedIn()" (click)="authService.logoutUser()" >Logout</button>
   
   
  </nav>

  

 
</div>

<router-outlet ></router-outlet>





 
